
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
}


body {
  margin: 0;
  padding: 0;
  background-color: #F8FAFC; 
  overflow-x: hidden;
}


:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}


* {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}
.banner-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}